<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>
</head>

<body>
    <form action="/todo" method="post">
        <label for="todo">To Do</label>
        <input type="text" name="task" placeholder="Add a todo...">
        <button type="submit" placeholder="Add todo">Add to do</button>
    </form>
    <section class="todos">
        <h2>Let's get down to business</h2>
        {{#todos}}
        <form action="/complete" method="post">
            <button type="submit" name="task" value="{{task}}">Mark Complete</button> {{task}}
        </form>
        {{/todos}}
    </section>

    <section class="completed">
        <h1>Completed</h1>
        {{#markoff}}
        <p style="text-decoration: line-through">
            {{task}}
        </p>
        {{/markoff}}
    </section>
</body>

</html>