<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>
</head>

<body>
    <form action="/todo" method="post">
        <input type="text" name="task" placeholder="Add a todo...">
        <button type="submit" placeholder="Add todo">Add to do</button>
    </form>
    <br>
    <section class="todos">
        {{#todos}} 
        <form action="/complete/{{task}}" method="post">
            <button class="complete" type="checkbox" name="task" value="{{task}}">Mark as Complete</button> <span> {{task}}</span>
        </form>
        <br>
        {{/todos}}
    </section>

    <section class="completed">
        <h1>Completed</h1>
        {{#markoff}}
        <p style="text-decoration: line-through">
            {{task}}
        </p>
        {{/markoff}}
    </section>
</body>

</html>